* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial,sans-serif;
    font-size: 100%;   
}

/*------hanburg menu---------*/



/*-----home-----*/
#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../img/beckground01.png);
    background-size: auto;
}

#homefilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: rgba(4, 14, 60, .25);
}

#home-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#hamburgmenu,
#hamburgmenu-page {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    z-index: 200;
}

.hamburg-1,
.hamburg-2,
.hamburg-3 {
    position: absolute;
    width: 38px;
    height: 5px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    transition: .1s;
}

.hamburg-1 {
    top: 0;
    left: calc(50% - 19px);
}

.hamburg-2 {
    top: 10px;
    left: calc(50% - 19px);
}

.hamburg-3 {
    top: 20px;
    left: calc(50% - 19px);
}

.ham-1-after {
    display: none;
}

.ham-2-after {
    position: absolute;
    top: 10px;
    left: calc(50% - 19px);
    background-color: rgba(255, 255, 255, .3);
    transform: rotate(45deg);
}

.ham-3-after {
    position: absolute;
    top: 10px;
    left: calc(50% - 19px);
    background-color: rgba(255, 255, 255, .3);
    transform: rotate(-45deg);
}


.homemenu {
    position: absolute;
    top: -300px;
    left: 0;
    display: block;
    width: 100vw;
    height: 260px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, .55);
    transition: all .1s;
    z-index: 100;
}

.homemenu-show {
    top: 0;
    transform: all .1s;
}

nav a.homelink {
    display: block;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 22px;
    color: #ccc;
    text-decoration: none;
    
}

nav a.homelink:hover {
    color: rgb(244, 221, 132);
}

#dalibox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.dali-title {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 30vh;
}

.dalih2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100vw;
    height: 30px;
    padding-right: 10px;
}

h2.homedali {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-right: 80px;
    color: rgba(244, 221, 132, .65);
    text-shadow: 3px 3px 10px #000;
    
}

#homeimg {
    width: 100%;
    height: 70vh;
    background: url(../img/hooft02.png) no-repeat;
    background-size: contain;
    background-position: right bottom;
}


/* about */
.container-page {
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 5vh;
}

.warp {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    padding-bottom: 56.25%;
    background: #333;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.sliderimg {
    width: 300%;
    height: 0;
    padding-bottom: 56.25%;
    background: #000 0 center no-repeat;
    background-size: cover;
    animation: silder 20s infinite linear;
    animation-play-state: running;
}
@keyframes silder{
    0% {
        transform: translate(0,0);
    }
    7% {
        transform: translate(0,0);
    }
    
    12% {
        transform: translate(-33.33%,0);
    }
    32% {
        transform: translate(-33.33%,0);
    }
    
    37% {
        transform: translate(-66.66%,0);
    }
    57% {
        transform: translate(-66.66%,0);
    }
    
    62% {
        transform: translate(-33.33%,0);
    }
    82% {
        transform: translate(-33.33%,0);
    }
    
    87% {
        transform: translate(0,0);
    }
    
}
.sliderimg:hover {
    animation-play-state: paused;
}

.pagemenu {
    position: absolute;
    top: -300px;
    left: 0;
    display: block;
    width: 100vw;
    height: 260px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, .55);
    transition: all .1s;
    z-index: 100;
}

.pagemenu-show {
    top: 0;
    
}

.pagetile-dali {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100vw;
    height: 35px;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 30px;
    text-align: left;
    color: rgb(244, 221, 132);
    text-shadow: 3px 3px 5px #000;
}

nav.page {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100vw;
    height: 200px;
    background-color: lime;
}

a.link{
    display: block;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 22px;
    color: #aaa;
    text-decoration: none;
    text-shadow: 3px 3px 8px #000;
}
a.link:hover {
    color: rgb(244, 221, 132);
}

main {
    width: 100vw;
    min-height: 50vh;
    overflow: hidden;
}

.box-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 150px;
    padding: 10px;
    background: #fff;
}

.iconcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    min-height: 300px;
}

.iconbox {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 5px solid rgba(0, 0,0,0);
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0);
    transition: all .1s linear;
}
.iconbox:hover {
    border: 5px solid rgba(0, 0,0,.1);
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.iconbox img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bookmark h5 {
    width: 80%;
    font-size: 18px;
    text-align: center;
    color: rgb(36, 31, 47);
}

a.bookmark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-bottom: 50px;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100px;
    background: #f2f5f8;
}

.imgbox {
    width: 100vw;
}

.imgbox img {
    display: block;
    width: 100%;
    object-fit: contain;
}

articel.texblokr {
    width: 100vw;
    padding: 20px;
    background: #f2f5f8;
    color: #333;
}

articel.texblokl{
    width: 100vw;
    padding: 20px;
    background: #fff;
    color: #333;
}

h1{
    font-size: 28px;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 180%;
}

p.intro{
    width: 100%;
    overflow: hidden;
}

a.morelink{
    color: #333;
    text-decoration: none;
}

footer{
    width: 100vw;
    min-height: 300px;
    color: #ccc;
    background: #fff;
    
}

section.under {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    min-height: 10vh;
    padding: 100px 0;
    overflow: hidden;
}

.galleryimg {
    position: relative;
    width: 100vw;
}

.galleryimg img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.galleryfil{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    transition: all .1s linear;
}
.galleryfil:hover {
    background: rgba(0,0,0,.7);
}
.galleryfil:hover h3.gallerytitle {
    top: calc(50% - 35px);
    color: rgba(244,221,132,1);
}
.galleryfil:hover h6 {
    color: rgba(255,255,255,.8);
}

h3.gallerytitle {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 38px;
    font-size: 22px;
    text-align: center;
    color: rgba(244,221,132,0);
    transform-origin: center;
    transition: all .1s linear;
}

h6 {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 1em;
    font-style: oblique;
    text-align: center;
    color: rgba(255,255,255,0);
    transition: all .2s linear;
}

footer.exinfo{
    width: 100%;
    min-height: 350px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.8);
}

footer.copyright{
    width: 100%;
    height: 200px;
    background: rgba(0,0,0,.9);
}

footer.copyright >p {
    padding: 20px;
    text-align: center;
}

.socialicon {
    margin: 20px;
}

.socialicon img {
    display: block;
    width: 50px;
    object-fit: contain;
    opacity: .3;
}

.socialicon img:hover {
    opacity: .6;
}

.footertext {
    width: 100vw;
    padding: 20px;
}

h4 {
    font-size: 22px;
    margin: 10px 0;
}

h5 {
    margin-top: 10px;
    font-size: 28px;
}

.footerparga

/* gallery */

a.iconlink{
    text-decoration: none;
}

/* contact */
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 5px solid rgba(0, 0,0,0);
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0);
    transition: all .1s linear;
}

.contact-box:hover {
    border: 5px solid rgba(0, 0,0,.1);
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    transition: all .1s linear;
}

a.iconlink {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 30px;
    text-decoration: none;
}

.iconlink h5 {
    width: 80%;
    font-size: 16px;
    text-align: center;
    color: rgb(36, 31, 47);
    
}

#gmap {
    position: relative;
    width: 100vw;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

#gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#inform {
    width: 100%;
    font-size: 20px;
}

#infoarea{
    width: 100%;
    height: 160px;
}

.openingsuren{
    min-height: 300px;
}

.dagen{
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

.uren{
    width: 50%;
}
p.pcont{
    color: rgb(36, 31, 47);
    line-height: 120%;
}

.formfont{
    width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: #333;
    line-height: 10px;
}

/* animation */
header.header-animation {
    width: 100vw;
    min-height: 95px;
    background: rgba(0,0,0, 1);
}

main.animatie {
    width: 100vw;
    height: 1200px;
    background: #f2f5f8;
}

#anibox{
    height: 1000px;
    position: relative;
}

#anicontan {
    position: absolute;
    top: 20px;
    left: calc(50% - 292.5px);
    width: 585px;
    height: 800px;
}

#corp {
    position: absolute;
    width: 585px;
    height: 800px;
    background-image: url(../img/corpushypercube01.jpg);
}

#blokback{
    position: absolute;
    top: 228px;
    left: 270px;
    width: 185px;
    height: 185px;
    background-image: url(../img/backblok01.png);
    animation: blok 2s 3.7s infinite ease-in-out;
}

#blokleft {
    position: absolute;
    top: 175px;
    left: 45px;
    width: 185px;
    height: 185px;
    transform: scale(1);
    background-image: url(../img/sideblokleft.png);
    animation: blok 2s 1s infinite ease-in-out;
}
@keyframes blok{
    50% {
        transform: scale(.96)
    }
}

#blokcnet01 {
    position: absolute;
    top: 28px;
    left: 168px;
    width: 185px;
    height: 185px;
    background-image: url(../img/centblok01.png);
    animation: blok 2s infinite ease-in-out;
}

#blokcent02 {
    position: absolute;
    top:150px;
    left: 168px;
    width: 185px;
    height: 185px;
    background-image: url(../img/centblok02.png);
    animation: blok 2s 1.5s infinite ease-in-out;
}

#blokcent03 {
    position: absolute;
    top: 260px;
    left: 163px;
    width: 185px;
    height: 185px;
    background-image: url(../img/centblok03.png);
    transform: scale(1.02);
    animation: blok 2s 3.3s infinite ease-in-out;
}

#blokcent04 {
    position: absolute;
    top: 388px;
    left: 165px;
    width: 185px;
    height: 185px;
    background-image: url(../img/centblok04.png);
    animation: blok 2s 4.7s infinite ease-in-out;
}

#blokright {
    position: absolute;
    top: 123px;
    left: 280px;
    width: 185px;
    height: 185px;
    background-image: url(../img/sideblokright.png);
    animation: blok 2s 2.3s infinite ease-in-out;
}

#lichaam {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 409px;
    height: 544px;
    background: url(../img/lihaam01.png);
    animation: lic 2.8s 1.2s infinite linear;
}
@keyframes lic{
    50% {
        transform: scale(.93) perspective(450px) rotateX(6deg);
    }
}

#flyerbox {
    position: absolute;
    width: 100px;
    height: 200px;
    transform: translate3d(0px,500px,0);
    animation: ff 6s 1.3s infinite ease-in-out;
}
@keyframes ff{
    50% {
        transform: translate3d(500px,150px,0);
    }
    100% {
        transform: translate3d(100px,-100px,0) scale(.05);
    }
}

#fly {
    position: relative;
    top: 90%;
    width: 50px;
    height: 50px;
    background-image: url(../img/butterfly-animated-gif-45.gif);
    background-repeat: no-repeat;
    background-size: contain;
    animation: fly 2.1s infinite ease-in-out;
}
@keyframes fly{
    50% {
        top: 10%;
    }
}


@media all and (orientation: portrait) {
    #homefilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: rgba(4, 14, 60, .25);
    }
}


/* screen wider than 420px */
@media (min-width: 420px) and (orientation: landscape) {
    /*----home-----*/
    #homefilter {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: rgba(4, 14, 60, .25);
    }
    
    .dali-title {
        width: 100vw;
        height: 15vh;
    }
    
    h2.homedali {
        font-size: 30px;
    }
    
    #homeimg {
        width: 50vw;
        height: 85vh;
    } 
    
    /*-----page-----*/
    
}

/* screen wider than 760px */

@media (min-width: 760px) {
    #hamburgmenu-page {
        display: none;
    }
    
    .footertext {
        width: 50vw;
    }
    
    /*--------page-----------*/
    
    .pagemenu {
        position: absolute;
        top: 35px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 60px;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, .55);
        transition: all .1s;
        z-index: 100;
    }
    
    .pagetile-dali {
        background: rgba(0, 0, 0, .55);
        text-align: center;
    }
    
    a.bookmark {
        width: 200px;
        height: 200px;
    }
    
    .iconbox {
        width: 180px;
        height: 180px;
        padding: 25px;
    }
    
    .bookmark h5 {
        font-size: 26px;
    }
    
    section {
        display: flex;
        flex-direction: row;
    }
    
    .imgbox {
        width: 50vw;
    }
    
    h1 {
        font-size: 36px;
    }
    
    articel.texblokr {
        width: 50vw;
    }
    
    .leftimg {
        display: flex;
        flex-direction: row-reverse;
    }
    
    articel.texblokl {
        width: 50vw;
    }
    
    section.under {
        flex-wrap: nowrap;
        
    }
    
    .galleryimg {
        width: 33.33vw;
    }
    /*-------contact---------*/
    #inform {
        width: 50vw;
    }
    #gmap {
        width: 50vw;
    }
}

/* screen smaller than 1100px */

@media (min-width: 1100px) and  (orientation: landscape) {
    .homemenu {
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50vw;
        height: 50vh;
        background: rgba(0, 0, 0, 0);
        padding-bottom: 0;
    }
    
    #hamburgmenu {
        display: none;
    }
    
    #dalibox {
        flex-direction: row;
    }
    
    .dali-title {
        justify-content: flex-end;
        align-self: flex-end;
        width: 50vw;
        height: 50vh;
    }
    
    h2.homedali {
        font-size: 38px;
        padding-right: 0;
    }
    
    #homeimg {
        width: 50vw;
        height: 95vh;
    }
    
    /*------animation-------*/
    
    header.header-animation {
        background: rgba(0, 0, 0, .7);
    }
    
}
















